<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <h1 class="head">Profile</h1>
     <form>
       <div  class="ion-text-center">
       <ion-card>
        <ion-list>
         <ion-item>
           <ion-col size-md="6" size="6" class="ion-padding ion-blue-bkg">
            <ion-item>
              <ion-avatar slot="start" >
                <img class="" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Item Avatar</ion-label>
            </ion-item>
           </ion-col>
           
         </ion-item>
   
       <ion-item>
         <ion-label><ion-icon name="location"></ion-icon></ion-label>
         <ion-input placeholder="Address" ></ion-input>
       </ion-item>
       <ion-item>
         <ion-label><ion-icon name="call"></ion-icon>
         </ion-label>
         <ion-input placeholder="Enter email" ></ion-input>
       </ion-item>
       <ion-item>
         <ion-label><ion-icon id="icon"  name="lock-closed"></ion-icon>
         </ion-label>
         <ion-input type="password"   placeholder="Enter password" ></ion-input>
       </ion-item>
       <ion-item>
         <ion-label><ion-icon id="icon" name="lock-closed"></ion-icon>
         </ion-label>
         <ion-input type="password" placeholder="Confirm password" ></ion-input>
       </ion-item>
       <ion-item>
         <button  class="text-center btn"  shape="round" color="primary"  size="default" type="button">Register</button>
       </ion-item>
       <div>
         <p>Already have an account?</p>
       </div>
       <div>
         <p [routerLink]="['/login']" routerLinkActive="router-link-active" class="text-center" id="login">Login</p>
       </div>
     </ion-list>
   </ion-card>
       </div>
   </form>

<ion-button color="primary" (click) ='logOut()'>Logout</ion-button>
</ion-content>
