#btn{
    margin-top: 1rem;
    background: #0278AE;
    width: 20rem;
    height: 3rem;
    border-radius: 30px;
    color: #ffff;
    font-size: 18px;
    background-color:#0278AE ;
}

.head{
    text-align: center;
    color: #0278AE;
    font-size :x-large;
    margin-top: 3.5rem;
    font-weight: bolder;
}

#icon{
    color: #0278AE;
    margin-top: 4px;
}

.image{
      height: 8rem;
   margin-left: 50%;
}

#login{
    color: #0278AE;
}
